@mixin fontStyle($size, $lineHeight, $weight, $space, $color) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
  letter-spacing: $space;
  color: $color;
  font-weight: $weight;
}

@mixin responsive($size) {
  @if ($size == desktop) {
    @media screen and (max-width: 1160px) {
      @content;
    }
  } @else if($size == tabletmd) {
    @media screen and (max-width: 1030px) {
      @content;
    }
  } @else if ($size == tablet) {
    @media screen and (max-width: 996px) {
      @content;
    }
  } @else if ($size == mobile) {
    @media screen and (max-width: 820px) {
      @content;
    }
  }
  @else if ($size == mobileSm) {
    @media screen and (max-width:450px) {
      @content;
    }
  }

}
